{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Exam Scheduling System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/Picture1.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

<!--     <h1 class="logo"><a href="index.html">ESS<span>.</span></a></h1>
 -->      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{% url 'home' %}" class="logo"><img src="{% static 'assets/img/notifications.png' %}" alt="" width="70px"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#services">About Us</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="login">Log in</a></li>

        </ul>
      </nav>
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Exam Scheduling <span>System</span></h1>
      <h2>Never Miss an Exam Again with Our Exam <br> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        Schedule System.</h2>
      <div class="d-flex">
        <a href="{% url 'schedule' %}" class="btn-get-started scrollto">View Exam Schedules</a>
      </div>
    </div>
  </section>
  <!-- End Hero -->
    
  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3>Build with <span>ease</span></h3>
          <p>A Exam Schedule System that allows the swift, efficient and smooth
             generation of college timetables with complete collision avoidance.</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-fast-forward-circle-fill"></i></div>
              <h4 class="title"><a href="">Fast</a></h4>
              <p class="description">Fast and Smooth Scheduling.</p>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-file-lock2-fill"></i></div>
              <h4 class="title"><a href="">Secure</a></h4>
              <p class="description">Secure Scheduling Process.</p>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-alarm-fill"></i></div>
              <h4 class="title"><a href="">Reliable</a></h4>
              <p class="description">Reliable and Trustworthy Process.</p>
            </div>
          </div>
        </div>

      </div>
    </section> 

    <!-- ======= About Us Section ======= -->
    
   

    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
          <h3>Learn More About <span>ESS</span> System</h3>
          <p>Welcome to ESS!, a Exam Schedule System for colleges and universities to schedule their organization's timetable. 
            TTGS help colleges to generate their timetable with ease and maximum efficiency and saving their valuable time.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Mission</a></h4>
              <p>our mission is to provide a simple and user-friendly platform for scheduling exams and
                creating innovative solutions that help college to save time, reduce errors, and streamline 
                their exam management process.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-file-word"></i></div>
              <h4><a href="">How does it work?</a></h4>
              <p>Exam Schedule System makes use of a Genetic Algorithm that helps generate the most optimal and suited timetable for their
                colleges needs.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-google"></i></div>
              <h4><a href="">Goal</a></h4>
              <p>At Exam Scheduling System, we understand the importance of exams in shaping your future, and our <span> Goal </span> is to help 
                you schedule your exams with ease.</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End about us Section -->
    

    <!-- ======= Contact Section ======= -->
    
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact Us</h2>
          <h3><span>Get in Touch</span></h3>
          <p>We would love to hear from <span>YOU</span></p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 col-md-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>College of Science and Technology,<br>
                Rinchending, Phuentsholing,<br>
                Chukkha: Bhutan</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>examcell.cst@rub.edu.bt</p><br><br>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+975 17396533</p><br><br>
          </div>
        </div>

      </div>
    </section>
    <!-- End Contact Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Exam Scheduling System</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">ESS team</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- ======= Bottom Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">examcell.cst@rub.edu.bt</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+975 17396533</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="examcell.cst@rub.edu.bt" class="Gmail"><i class="bi bi-envelope"></i></a>

      </div>
    </div>
  </section>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>