{% extends 'viewscheduleMcopy.html' %}

{% block mypage %}
<style>
  
  .col-div-12 .box-8 .contact-box h4, h5, h3{
    text-align: center;
    margin-top: 10px;
    font-weight: lighter;
    border-radius: 0;
    font-size: large;
    font-family: "Roboto", sans-serif;

  }
  tr td:first-child:before
		{
		  counter-increment: Serial;      
		  content: counter(Serial); 
		}
		table
		{
		    counter-reset: Serial;          
		}
		
</style>
<br><br>
<section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <a href = '#table'><div class="col-md-6 col-lg-6">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-calendar2-day-fill"></i></div>
          <h4 class="title"><a href="#">View Exam Timetable</a></h4>
          <p class="description">Autumn Semester 2023</p>
       </div>
      </div>
      </a>

      <div class="col-md-6 col-lg-6">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-person-workspace"></i></div>
          <h4 class="title"><a href="#">View Seating Arrangement</a></h4>
          <p class="description">Number of available classroom <span>71</span></p>
        </div>
      </div>
  </div>
</section><br><br>
     
  
</div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container mt-5"data-aos="fade-up">

    <div class="col-div-12">
  <div class="box-8">
  <div class="content-box" data-aos="fade-up">
    <h1 class="text-center" >{{ sem }} Semester</h1>
    <h1 class="text-center">Year: {{ y }} </h1>
    <h1 class="text-center">{{ type }} </h1>

    <br/>
    
  </div>
{% for examtable in examtable_list %}
  <h3><b>{{ examtable.program_name }}</b></h3> <h3><b>Year: {{ examtable.program_year }}</b></h3>
  <table class="table table-bordered shadow" >
    <thead class="table-header" style="background-color: #0D76D7; color: #fff; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);">
      <tr>
        <th class="text-center">Sl.no</th>
        <th class="text-center">Day</th>
        <th class="text-center">Date</th>
        <th class="text-center">Time</th>
        <th class="text-center">Module Code</th>
        <th class="text-center">Module Name</th>
      </tr>
    </thead>
    <tbody>
      {% for module in examtable.it_modules %}
      <tr style="background-color: #8ac0f2ae;">
        <td></td>
        <td>{{ module.day }}</td>
        <td>{{ module.date }}</td>
        <td>{{ module.timing }}</td>
        <td>{{ module.module_code }}</td>
        <td>{{ module.module_name }}</td>
      </tr>
      {% endfor %}

      
    </tbody>
  </table>
   {% endfor %}
</div>

{% endblock %}


                